@model IEnumerable<ItTutorial.Models.QuizPergunta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PerguntaExtenso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PerguntaOpcao1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PerguntaOpcao2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PerguntaOpcao3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PerguntaOpcao4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RespostaCerta)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaExtenso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaOpcao1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaOpcao2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaOpcao3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaOpcao4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RespostaCerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerguntaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerguntaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerguntaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
