@model ItTutorial.Models.Subcategorias

@{
    ViewData["Title"] = "SubcategoriaIndex";
}

<div class="tituloSubcat"><h2>@Html.DisplayFor(modelItem => Model.Title)</h2></div>
<p>
    @Html.ActionLink("New Topic", "Create", "Posts")
</p>

<table class="postName" style="width=100%">
    @foreach (var post in Model.Posts)
    {
        <tr>
            <td>
                <label class="postTitleColor">@Html.ActionLink(post.Post, "Subcategoria", "Forum", new { nomeSub = post.Subcategorias.Title, postId = post.Id })</label>
            </td>
            <td class="colunaUser">
                Posted by: <br><strong>@post.AspNetUsers.UserName</strong>
                <br>
                On:<br>@post.Date<br>
            </td>
        </tr>
    }
</table>