@model ItTutorial.Models.QuizPergunta

@using (Html.BeginForm())
{
    <head runat="server">

    </head>

    <body>

        <form id="form1" runat="server">

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PerguntaExtenso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PerguntaOpcao1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PerguntaOpcao2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PerguntaOpcao3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PerguntaOpcao4)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.PerguntaExtenso)
                            </td>
                            <td>
                                
                                <input id="Radio1" runat="server" type="radio" name="recebeOpcao" value="1" />
                                <!--runat="server" attribute for your html radio button it will be accessible on the code behind.-->
                                @Html.DisplayFor(modelItem => Model.PerguntaOpcao1)
                            </td>
                            <td>
                                <input id="Radio2" runat="server" type="radio" name="recebeOpcao"value="2" />
                                @Html.DisplayFor(modelItem => Model.PerguntaOpcao2)
                            </td>
                            <td>
                                <input id="Radio3" runat="server" type="radio" name="recebeOpcao" value="3"/>
                                @Html.DisplayFor(modelItem => Model.PerguntaOpcao3)
                            </td>
                            <td>
                                <input id="Radio4" runat="server" type="radio" name="recebeOpcao" value="4"/>
                                @Html.DisplayFor(modelItem => Model.PerguntaOpcao4)
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </form>
   
    </body>

    

}
