@model PaginatedList<ItTutorial.Models.Videos>


@{
    ViewData["Title"] = "Index";
}

<h2>Videos</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Title"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"></a>
            </th>
            <th>
                Title
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
	@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>


            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>


	 }

    </tbody>
</table>





@{ 
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">Previous</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">Next</a>



<body>
	

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div>
			

			@Html.TextAreaFor(model => model.Notes)

			<input type="submit" value="Create" />

		</div>
	}

	<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=psxifofnwsch3ajd65wcg0t441yqk14zy6wqwv9a40z34bws"></script>
	<!--<script src="aahttps://cloud.tinymce.com/stable/tinymce.min.js"></script>-->

	<script>


			tinymce.init({
				selector: 'textarea',
				height: 200,
				width: 450,
				//inline: true,
				hidden_input: false,
				plugins: [
					'advlist autolink lists link image charmap print preview anchor',
					'searchreplace visualblocks code fullscreen',
					'insertdatetime media table contextmenu paste code'
				],

				toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
				content_css: [
					'//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
					'//www.tinymce.com/css/codepen.min.css'
				]
			});


	</script>
</body>

