@model IEnumerable<ItTutorial.Models.Videos>

@{
    ViewData["Title"] = "Videos";
}



@*<ul id="menu">
    <li>@Html.DisplayNameFor(model => model.Title)<br />
        @Html.DisplayNameFor(model => model.Source)
    </li>
 
</ul>*@




<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <iframe height="200" src="@Html.DisplayFor(modelItem => item.Source)" frameborder="0" allowfullscreen></iframe>
            </td>
        </tr>
}
    </tbody>
</table>
