@model IEnumerable<ItTutorial.Models.Videos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <>
        <ul>
                <li>
                    @Html.DisplayNameFor(model => model.Title)
                </li>
                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinguagemId)
                </th>
            <th></th>
        </ul>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinguagemId)
            </td>
        </tr>
}
    </tbody>
</table>
