<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ItTutorial</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-shadow.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active">
					@Html.ActionLink("Home", "Index", "Home")
				</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
				<li class="dropdown">
					
					<a class="dropdown-toggle" data-toggle="dropdown" id="menu1"> HTML & CSS <span class="caret"></span></a>

					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li>
							@Html.ActionLink("Quiz", "Index", "QuizPerguntas")
						</li>
						<li>
							@Html.ActionLink("Videos", "Index", "Videos/Index/1")
						</li>
						<li>
							@Html.ActionLink("Forum", "Index", "Forum")
						</li>
						<li role="presentation" class="divider"></li>
						<li>
							@Html.ActionLink("Certification", "Certification", "Home")
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" id="menu1"> Javascript <span class="caret"></span></a>

					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li>
							@Html.ActionLink("Quiz", "Index", "QuizPerguntas")

						</li>
						<li>
							@Html.ActionLink("Videos", "Index", "Videos/Index/2")
						</li>
						<li>
							@Html.ActionLink("Forum", "Index", "Forum")
						</li>
						<li role="presentation" class="divider"></li>
						<li>
							@Html.ActionLink("Certification", "Certification", "Home")
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" id="menu1"> C# <span class="caret"></span></a>

					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li>
							@Html.ActionLink("Quiz", "Index", "QuizPerguntas")
						</li>
						<li>
							@Html.ActionLink("Videos", "Index", "Videos/Index/3")
						</li>
						<li>
							@Html.ActionLink("Consola", "Consola", "Home")
						</li>
						<li>
							@Html.ActionLink("Forum", "Index", "Forum")
						</li>
						<li role="presentation" class="divider"></li>
						<li>
							@Html.ActionLink("Certification", "Certification", "Home")
						</li>
					</ul>
				</li>
               @await Html.PartialAsync("_LoginPartial")
				<li>
					<form method="get" action="http://www.google.com/search" class="tania nav navbar-nav">
						<input type="text" name="q" size="20" maxlength="150" value="" />
						<button type="submit" value="Search" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span> Search
						</button>
						<br /> <input type="radio" name="sitesearch" value="" />
						Search on Web
						<input type="radio" name="sitesearch" value="c-sharpcorner.com" checked />
	Search from c-sharpcorner<br />
	@*<input type="radio" name="sitesearch" value="msdn.microsoft.com" checked />
	search on MSDN*@
					</form>
				</li>
            
           
		</ul>
		</div>        
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <p>&copy; @DateTime.Now.Year - ItTutorial</p>
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
  
    @RenderSection("Scripts", required: false)
</body>
</html>
